.git
.github
node_modules
vendor
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
!bootstrap/cache/.gitignore
.phpunit.cache
.phpunit.result.cache
tests
README.md
*.md
database/database.sqlite
